name: Donkey Kong Style Contributions

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */24 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: Drastik03

          template: skyline
          base: header, activity
          config_timezone: America/Guayaquil

          config_display: large
          config_twemoji: yes

          filename: donkeykong-skyline.svg
          output_action: commit
