name: Skyline Contributions

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */24 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: Drastik03
          template: skyline
          filename: skyline.svg
          output_action: commit
